<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <title>GiHub</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/issues.css' %}"
    />
  </head>
  <body>
    {% include "header.html" %}
    <div class="main-container">
      <div class="invisible-container">
        <div class="invisible-container-left">
          <button class="filters">
            <div class="filters-content" style="border-width: 0">Created</div>
            <div class="filters-content">Assigned</div>
            <div class="filters-content">Mentioned</div>
          </button>
          <input
            type="text"
            class="issue-search"
            placeholder="Search all issues"
          />
        </div>
      </div>
      <div class="issues-container">
        <div class="issues-header">
          <div class="issues-left-header">
            <div class="issues-left-header-info">
              <img
                src="{% static 'icons/opened-black.svg' %}"
                style="color: #768390"
                height="16"
              />
              <a href="#" class="issues-header-item active">16 Open</a>
            </div>
            <div class="issues-left-header-info">
              <img src="{% static 'icons/closed-issue.svg' %}" height="16" />
              <a href="#" class="issues-header-item">0 Closed</a>
            </div>
          </div>
          <div class="issues-right-header"></div>
        </div>
        {% for issue in issues %}
          <div class="issue">
            <div class="issue-heading-container">
              <img src="{% static 'icons/opened-green.svg' %}" height="16" />
              <a href="#" class="issue-heading">{{ issue.repository.title }}</a>
              <a href="#" class="issue-heading issue-heading-muted"
                >{{ issue.title }}</a
              >
                {% for label in issue.labels %}
                  <div class="label-container">
                    <div class="label" style="background-color: {{label.color}}">
                      {{ label.title }}
                    </div>
                  </div>
                {% endfor %}
            </div>
            <div class="issue-desc">
              #{{ issue.id }} opened on {{ issue.created_at }} by {{ user.username }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
