{% extends "base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/issues.css' %}" />
{% endblock %} {% block content %}
    <div class="profile-main-container">
        <div class="profile-invisible-container">
            <div class="profile-invisible-container-left">
                <div class="profile-picture-wrapper-user" style="background-color: white;">
                    <img src="{% static 'icons/user.svg' %}" height="150px" />
                </div>
                <div style="color: white;">
                    {{user.username}}     
                </div>
                
                {% block form %}
                <a href="/editprofile">
                    <button  class="edit-profile-button"> Edit profile</button>
                 </a>
                <div style="position:absolute; font-size:14px;">
                    <div style="margin-top: 10px">Name: {{profile.firstName}} {{profile.lastName}}</div>
                    <div style="margin-top: 10px">Bio: {{profile.bio}} </div>
                    <div style="margin-top: 10px">Company: {{profile.company}}</div>
                    <div style="margin-top: 10px">Website: {{profile.website}}</div>
                    <form method="post" action="{% url 'profile' %}">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete profile" class="delete-profile-button button"/>
                    </form>
                </div>
                {% endblock %}
            </div>

            <div>
                <div class="profile-invisible-container-right">
                    <a href="profile/">
                        <div class="profile-header">
                            <img src="{% static 'icons/overview.svg' %}" style="margin-top:7px" height="16" />
                            &nbsp; Overview
                        </div>
                    </a>
                    <a href="profile/"> 
                        <div class="profile-header">
                            <img src="{% static 'icons/repositories.svg' %}" style="margin-top:7px" height="16" />
                           &nbsp; Repositories
                        </div> 
                    </a>
                    <a href="projects/"> 
                        <div class="profile-header">
                            <img src="{% static 'icons/open-projects.svg' %}" style="margin-top:7px" height="17" />
                            &nbsp; Projects
                        </div>   
                    </a>
                </div>

            </div>

        </div>
        {% block projects %} 
        {% endblock %}
    </div>
{% endblock %}