{% extends "base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/issues.css' %}" />
{% endblock %} {% block content %}
<div class="main-container">
  <div class="invisible-container">
    <div class="invisible-container-left">
      <div class="filters">
        <a class="filters-content filters-content-active">Created</a>
        <a class="filters-content">Assigned</a>
        <a class="filters-content" style="border-radius: 0">Mentioned</a>
        <a class="filters-content">Review requests</a>
      </div>
      <form>
        <input
          name="search-issues"
          type="text"
          class="issue-search"
          placeholder="Search all issues"
        />
      </form>
    </div>
  </div>
  <div class="issues-container">
    <div class="issues-header">
      <div class="issues-left-header">
        <div class="issues-left-header-info">
          <img src="{% static 'icons/opened-pull-request.svg' %}" height="16" />
          <button id="opened-issue-button" class="issues-header-item active">
            {{ opened_pulls_num }} Open
          </button>
        </div>
        <div class="issues-left-header-info">
          <img src="{% static 'icons/closed-issue.svg' %}" height="16" />
          <button class="issues-header-item" id="closed-issue-button">
            {{ closed_pulls_num }} Closed
          </button>
        </div>
      </div>
      <div class="issues-right-header"></div>
    </div>
    <div id="opened-issues" style="min-height: 400px">
      {% if opened_pulls_num == 0 %}
      <div class="empty-search-container">
        <img
          src="{% static 'icons/opened-black.svg' %}"
          style="color: #768390"
          height="24"
        />
        <p class="empty-search-title">No result matched your search</p>
        <p class="empty-search-paragraph">
          You could search all of GitHub or try an advanced search.
        </p>
      </div>
      {% endif %} {% for pull in opened_pulls %}
      <div class="issue">
        <div class="issue-heading-container">
          <img
            src="{% static 'icons/opened-pull-request-green.svg' %}"
            height="16"
          />
          <a href="#" class="issue-heading">
            {{ pull.base.repository.title }}&nbsp;
          </a>
          <a href="#" class="issue-heading issue-heading-muted">
            {{ pull.title }}
          </a>
          {% for label in pull.labels %}
          <div class="label-container">
            <div class="label" style="background-color: {{ label.color }}">
              {{ label.title }}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="issue-desc">
          #{{ pull.id }} opened on {{ pull.created_at }} by
          {{pull.creator.username}}
        </div>
      </div>
      {% endfor %}
    </div>
    <div id="closed-issues" style="display: none; min-height: 400px">
      {% if closed_pulls_num == 0 %}
      <div class="empty-search-container">
        <img
          src="{% static 'icons/opened-black.svg' %}"
          style="color: #768390"
          height="24"
        />
        <p class="empty-search-title">No result matched your search</p>
        <p class="empty-search-paragraph">
          You could search all of GitHub or try an advanced search.
        </p>
      </div>
      {% endif %} {% for pull in closed_pulls %}
      <div class="issue">
        <div class="issue-heading-container">
          <img src="{% static 'icons/opened-green.svg' %}" height="16" />
          <a href="#" class="issue-heading">
            {{ pull.base.repository.title }}&nbsp;
          </a>
          <a href="#" class="issue-heading issue-heading-muted">
            {{ pull.title }}
          </a>
          {% for label in pull.labels %}
          <div class="label-container">
            <div class="label" style="background-color: {{ label.color }}">
              {{ label.title }}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="issue-desc">
          #{{ pull.id }} opened on {{ pull.created_at }} by {{user.username}}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<script src="{% static 'js/issues.js' %}"></script>
{% endblock %}
