{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <img
        class="github-icon"
        src="{% static 'icons/logo.svg' %}"
        alt="GitHub Logo"
      />
      <h1>Sign in to GitHub</h1>
      <div class="input-container">
        <form method="post" action="{% url 'sign_up' %}">
          {% csrf_token %} {{ form.as_p }}
          <input class="btn-block" type="submit" value="Sign Up" />
        </form>
      </div>
    </div>
  </body>
</html>
